.editable_text {
	height: 100%;
	width: 100%;
}

.editable_text textarea {
	width: 100%;

	font-family: var(--font-family);
	font-size: inherit;

	border-radius: var(--box-radius);

	overflow: auto;
	border: none;
	outline: none;
	resize: none;

	background-color: inherit;
}