.editable_text {
	height: 100%;
	width: 100%;
}

.editable_text textarea {
	height: 100%;
	width: 100%;

	font-family: var(--font-family);
	font-size: inherit;

	border-radius: var(--box-radius);

	overflow: hidden;
	border: none;
	outline: none;
	resize: none;


	background-color: inherit;
}

.center:not(:has(textarea)) {
	display: flex;
	align-items: center;
	justify-content: center;
}

.editable_text.center textarea {
	text-align: center;
}