:has(.delete_button):hover > .delete_button {
	transform: scale(1.1);
	
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: inherit;
}

.delete_button {
	position: absolute;
	top: 8px;
	right: 8px;

	width: 22px;
	height: 22px;
	background: transparent;
	border: none;
	outline: none;

	cursor: pointer;

	display: none;
}
