.list {
	min-width: var(--list-width);
	max-width: var(--list-width);

	display: grid;
	grid-template-rows: [header] 40px [main] auto [new-card] 40px;
	background-color: var(--list-bg-color);

	border-radius: var(--box-radius);

	user-select: none;

	position: relative;
	z-index: 99;
}

.list_cards_wrapper {
	min-height: 132px;
	padding: var(--cards-padding);

	display: flex;
	flex-direction: column;
	gap: 20px;

	list-style-type: none;
}
