.list {
	width: var(--list-width);

	display: grid;
	grid-template-rows: [header] 40px [main] auto [new-card] 40px;
	background-color: var(--list-bg-color);

	border-radius: var(--box-radius);
}

.list_cards_wrapper {
	min-height: 132px;
	padding: 10px;

	display: flex;
	flex-direction: column;
	gap: 20px;

	list-style-type: none;
}

.list_name_header {
	width: 100%;
	height: 100%;
}

.list_name {
	transition: background-color var(--transitions-speed) ease;
}

.list_name_header {
	padding: 4px;

	height: 100%;
	width: 100%;

	background-color: var(--primary-color);

	font-family: var(--font-family);
	font-weight: bold;
	font-size: var(--big-font-size);

	color: var(--text-color);
	text-align: center;
	text-decoration: none;

	border-radius: var(--box-radius);
}

.list_name_header:has(textarea) {
	background-color: var(--secondary-color);
}

.list_name_header textarea {
	text-align: center;
}