.card {
	min-height: var(--min-card-height);
	word-break: break-word;

	padding: 6px;
	background-color: var(--primary-color);
	border-radius: var(--box-radius);

	transition: transform var(--transitions-speed) ease, background-color var(--transitions-speed) ease;
}

.card:has(:focus) {
	background-color: var(--secondary-color);
}

textarea.card_text {
	width: 100%;
}

.card:hover {
	transform: scale(1.1);
}