.list {
	min-width: var(--list-width);
	max-width: var(--list-width);

	display: grid;
	grid-template-rows: [header] 40px [main] auto [new-card] 40px;

	border-radius: var(--box-radius);

	user-select: none;

	position: relative;
	z-index: 0;

	background-color: var(--g-color-base-generic);
}

.list_cards_wrapper {
	min-height: var(--min-list-height);
	padding: var(--cards-padding);

	display: flex;
	flex-direction: column;
	gap: 20px;

	list-style-type: none;
}
