.make_new_card {
	background-color: var(--primary-color);

	width: 100%;
	height: 40px;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;

	padding: 5px;

	border-radius: var(--box-radius);
	transition: background-color var(--transitions-speed) ease-out;
}

.make_new_card:has(:focus) {
	background-color: var(--secondary-color);
}

input.new_card_text {
	font-family: var(--font-family);

	border-radius: var(--box-radius);

	overflow: auto;
	border: none;
	outline: none;

	font-size: var(--small-font-size);

	width: 100%;
	height: 30px;

	background-color: var(--bg-color);
	padding: 4px;
}

.new_card_submit {
	min-width: 30px;
	width: 30px;
	height: 30px;
	border-radius: var(--box-radius);

	background-color: var(--accent-color-500);
	border: none;
	appearance: none;

	cursor: pointer;

	transition: transform var(--transitions-speed) ease, background-color var(--transitions-speed) ease-out;
}

.new_card_submit:hover {
	transform: scale(1.05);
}

.new_card_submit:active {
	background-color: var(--accent-color-700);
    transition-duration: 0s;
}