@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--text-color: #000000;
	--bg-color: #f8f8f8;
	--list-bg-color: #ededed;
	--primary-color: #89d1d1;
	--secondary-color: #d0e2e2;

	--accent-color-500: #38b2b2;
	--accent-color-600: #389999;
	--accent-color-700: #357979;
	--accent-color-800: #2a4747;
	--accent-color-900: #182020;

	--font-family: "Inter";

	--box-radius: 5px;

	--big-font-size: 20pt;
	--main-font-size: 12pt;
	--small-font-size: 10pt;

	--min-card-height: 56px;
	--list-width: 200px;

	--transitions-speed: 0.2s;
}

body {
	color: var(--text-color);
	font-family: var(--font-family);
	font-size: var(--main-font-size);
}

.board {
	background-color: var(--bg-color);
	/* height: 100vh; */
}

.board-section {
	padding: 30px 30px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 36px;

	overflow-x: scroll;
}

.list {
	min-width: var(--list-width);
	max-width: var(--list-width);

	display: grid;
	grid-template-rows: [header] 40px [main] auto [new-card] 40px;
	background-color: var(--list-bg-color);

	border-radius: var(--box-radius);
}

.list-name-header {
	width: 100%;
	height: 100%;
}

.list-name {
	transition: background-color var(--transitions-speed) ease;
}

.list-name.has-focus {
	background-color: var(--secondary-color);
}

.list.current-list {
	cursor: grab;
}

input.focusable-input {
	font-family: var(--font-family);
	font-size: inherit;

	border-radius: var(--box-radius);

	border: none;
	outline: none;

	background-color: inherit;
}

.input-like {
	width: 100%;
	height: 100%;
}

.input-like:focus {
	outline: none;
}

.input-like.list-name {
	padding: 4px;

	height: 100%;
	width: 100%;

	background-color: var(--primary-color);

	font-family: var(--font-family);
	font-weight: bold;
	font-size: var(--big-font-size);

	color: var(--text-color);
	text-align: center;
	text-decoration: none;

	border-radius: var(--box-radius);
}

.input-like.list-name.has-focus {
	background-color: var(--secondary-color);
}

.list-cards-wrapper {
	min-height: 132px;
	padding: 10px;

	display: flex;
	flex-direction: column;
	gap: 20px;

	list-style-type: none;
}

.card {
	min-height: var(--min-card-height);
	padding: 6px;
	background-color: var(--primary-color);
	border-radius: var(--box-radius);

	transition: transform var(--transitions-speed) ease, background-color var(--transitions-speed) ease;
}

.card.has-focus {
	background-color: var(--secondary-color);
}

input.card-text {
	width: 100%;
}

.card:hover {
	transform: scale(1.1);
}

.make-new-card {
	background-color: var(--primary-color);

	width: 100%;
	height: 40px;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;


	padding: 5px;

	border-radius: var(--box-radius);
	transition: background-color var(--transitions-speed) ease-out;
}

.make-new-card.has-focus {
	background-color: var(--secondary-color);
}

input.new-card-text {
	font-size: var(--small-font-size);

	width: 100%;
	height: 30px;

	background-color: var(--bg-color);
	padding: 4px;
}

input.new-card-submit {
	min-width: 30px;
	width: 30px;
	height: 30px;
	border-radius: var(--box-radius);

	background-color: var(--accent-color-500);
	border: none;
	appearance: none;

	cursor: pointer;

	transition: transform var(--transitions-speed) ease, background-color var(--transitions-speed) ease-out;
}

input.new-card-submit:hover {
	transform: scale(1.05);
}

.new-card-submit:active {
	background-color: var(--accent-color-700);
    transition-duration: 0s;
}

button.make-new-list {
	font-family: inherit;
	font-size: var(--main-font-size);

	min-width: var(--list-width);
	max-width: var(--list-width);

	height: var(--min-card-height);

	border: none;
	border-radius: var(--box-radius);

	background-color: var(--secondary-color);

	transition: transform var(--transitions-speed) ease, background-color 0.5s ease-out;
	cursor: pointer;
}

button.make-new-list:active {
	background-color: var(--accent-color-500);
    transition-duration: 0s;
}

button.make-new-list:hover {
	transform: scale(1.1);
}

.menu {
	height: 48px;
	padding: 0 30px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: var(--primary-color);
}

.menu-item {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: center;

	gap: 20px;
}

.menu-item.left {
	align-items: left;
}
.menu-item.center {
	align-items: center;
}
.menu-item.right {
	align-items: right;
}

button.menu-item-content {
	border: none;
	background-color: inherit;
	cursor: pointer;

	line-height: 1;
	display: flex;

	transition: transform var(--transitions-speed) ease;
}

button.menu-item-content:has(> h1):hover {
	transform: translate(0, -5%);
}

button.menu-item-content:hover {
	transform: scale(1.05);
}

.calendar {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.calendar p {
	max-width: 600px;
	font-size: 36pt;
	background-color: var(--secondary-color);
	text-align: center;
}