@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--text-color: #000000;
	--bg-color: #fff;
	--list-bg-color: #DFF6F5;
	--primary-color: #9ae3e0;
	--secondary-color: #7FDCD9;

	--accent-color-500: #4FCFCA;

	--font-family: "Inter";

	--box-radius: 5px;

	--big-font-size: 20pt;
	--main-font-size: 12pt;
	--small-font-size: 10pt;

	--min-card-height: 56px;
	--cards-padding: 10px;

	--list-element-height: 40px;
	--list-width: 200px;
	--min-list-height: 132px;

	--transitions-speed: 0.2s;
}

body {
	color: var(--text-color);
	font-family: var(--font-family);
	font-size: var(--main-font-size);
	background-color: var(--bg-color);
}

#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.menu {
	height: 48px;
	padding: 0 30px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: var(--primary-color);
}

.menu-item {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: center;

	gap: 20px;
}

.menu-item.left {
	align-items: left;
}
.menu-item.center {
	align-items: center;
}
.menu-item.right {
	align-items: right;
}

button.menu-item-content {
	border: none;
	background-color: inherit;
	cursor: pointer;

	line-height: 1;
	display: flex;

	transition: transform var(--transitions-speed) ease;
}

button.menu-item-content:has(> h1):hover {
	transform: translate(0, -5%);
}

button.menu-item-content:hover {
	transform: scale(1.05);
}

.calendar {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.calendar p {
	max-width: 600px;
	font-size: 36pt;
	background-color: var(--secondary-color);
	text-align: center;
}