.list_name {
	transition: background-color var(--transitions-speed) ease;
}

.list_name_header {
	padding: 4px;

	height: var(--list-element-height);
	width: 100%;
	word-break: break-word;

	background-color: var(--primary-color);

	font-family: var(--font-family);
	font-weight: bold;
	font-size: var(--big-font-size);

	text-align: center;
	text-decoration: none;

	border-radius: var(--box-radius);
}

.list_name_header:has(textarea) {
	background-color: var(--primary-color);
}

.list_name_header textarea {
	text-align: center;
}